<header>
    <div class="overlay"></div>
    <video autoplay muted loop>
        <source src="../../assets/videos/intro-vid-sm.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 animated pulse delay-1s">Welcome to First Baptist of Jedburg!</h1>
                <!-- @TODO: set up a page to direct vistors <a class="icon-pulse btn btn-primary mx-1 mt-1" href="#" routerLink="/start"><i class="fas fa-user"></i> I'm New</a> -->
                <a class="icon-pulse btn btn-success mx-1 mt-1" href="https://calendar.google.com/calendar/r?cid=fbcjedburg.org_337htmcdn2lf0tdg8p819mehdc@group.calendar.google.com" target="_blank"><i class="fas fa-calendar"></i> Events</a>
                <a class="icon-pulse btn btn-danger mx-1 mt-1" href="https://goo.gl/maps/NR26756Fbm9saqqm7" target="_blank"><i class="fas fa-compass"></i> Locate Us</a>
                <!-- @TODO: determine a streaming strategy <a class="icon-pulse btn btn-info mx-1 mt-1" href="#" routerLink="/watch"><i class="fas fa-video"></i> Watch</a> -->
            </div>
        </div>
    </div>
</header>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center animated fadeIn" id="who-we-are">
    <h1 class="display-4">Who We Are</h1>
    <p class="lead">We are not your typical First Baptist Church. We are a church of all generations with something to offer every age group. We are a very loving and welcoming church that is more concerned about your present and future than we are about your past. If
        you are searching for a place of worship and service to our Lord Jesus Christ, then you've come to the right place! You are our invited guest, so welcome friend!</p>
</div>

<hr>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center animated fadeIn" id="our-mission">
    <h1 class="display-4">Our Mission</h1>
    <h4 class="display-5">Loving God... Loving Others... Serving Both...</h4>
    <p class="lead">We are a fellowship of believers dedicated to evangelizing, ministering and teaching the Word of God as revealed in His Holy Word. We adhere to the Baptist Faith and Message as adopted by the Southern Baptist Convention. We believe that Jesus Christ
        is the Son of God, that He died on the cross and on the third day arose from the grave for the salvation of those who would accept Him.</p>
</div>

<!-- @TODO: Add an events scroller -->

<!-- @TODO: Update the Learn More buttons to link to their repsective pages -->
<section class="trinary-bg">
    <div class="card-deck p-4">
        <div class="card mb-4 box-shadow landing-cards" style="width: 18rem;">
            <img src="../../assets/images/bible.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bible Study</h5>
                <p class="card-text">Come study God's word!</p>
                <a href="#" class="btn fbcj-learn-more" routerLink="/adult">Learn More</a>
            </div>
        </div>

        <div class="card mb-4 landing-cards" style="width: 18rem;">
            <img src="../../assets/images/serve.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Serve</h5>
                <p class="card-text">Go fourth and share God's love!</p>
                <a href="#" class="btn fbcj-learn-more" routerLink="/serve">Learn More</a>
            </div>
        </div>

        <div class="card mb-4 landing-cards" style="width: 18rem;">
            <img src="../../assets/images/worship.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Worship</h5>
                <p class="card-text">Give praises to the Lord!</p>
                <a href="#" class="btn fbcj-learn-more" routerLink="/worship">Learn More</a>
            </div>
        </div>
    </div>
</section>