<footer class="footer text-white mt-auto y-4 pt-5 fbcj-footer parallax">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><i class="fas fa-compass"></i><br>Location</h2>
                <p class="mb-0">
                    First Baptist Church of Jedburg<br> 121 Brewer Road Summerville, SC 29483
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h2><i class="fas fa-clock"></i><br>Service Times</h2>
                <p>Sunday @ 9:45am - Small Groups<br> Sunday @ 11:00am - Worship<br> Sunday @ 6:00pm - Worship<br> Wednesday @ 6:15pm - Meal and Worship<br>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h2><i class="fas fa-comments"></i><br>Contact Us</h2>
                <p>
                    <i class="fas fa-phone"></i> (843) 873-4191<br>
                    <i class="fas fa-envelope"></i> Info: secretary@fbcjedburg.org<br>
                    <i class="fas fa-cross"></i> Pastor: larry@fbcjedburg.org<br>
                    <i class="fas fa-baby"></i> Kids: children@fbcjedburg.org<br>
                    <i class="fas fa-graduation-cap"></i> Youth: youth@fbcjedburg.org<br>
                    <i class="fas fa-music"></i> Choir: music@fbcjedburg.org<br><br>
                    <a class="social-link secondary facebook" target="_blank" href="https://www.facebook.com/First-Baptist-Church-of-Jedburg-SC-117513278308410/"><i
              class="fab fa-3x fa-facebook"></i></a>
                    <a class="social-link secondary instagram" target="_blank" href="https://www.instagram.com/fbcj_youth_squad/"><i
              class="fab fa-3x fa-instagram"></i></a>
                    <a class="social-link secondary text-success" target="_blank" href="https://visitor.r20.constantcontact.com/manage/optin?v=001Cpagmd9m5dhbDHlT0CCd1XRP1pnbJ5D220Fx8bD6qUMTeomUs1VANuVPpTFlmztIe5fuXxzz4vUfIpJR7BuMQBFz7wFy7-xPvL9wUX1yf3E%3D"><i
              class="fas fa-3x fa-newspaper"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <p>&copy; 2019 First Baptist Church of Jedburg</p>
            </div>
        </div>
    </div>
</footer>