.social-link {
    padding: 5px;
}

.facebook {
    color: #3C5A99;
}

.twitter {
    color: #38A1F3;
}

.parallax {
    /* The image used */
    background-image: url("../../assets/images/map-image.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

p {
    color: rgba(255, 255, 255, 0.5);
}