/* You can add global styles to this file, and also import other style files */

.primary {
    color: #FAFAF9;
}

.primary-bg {
    color: black;
    background-color: #FAFAF9;
}

.secondary {
    color: #E9B100;
}

.secondary-bg {
    color: black;
    background-color: #E9B100;
}

.trinary {
    color: #771F01;
}

.trinary-bg {
    color: white;
    background-color: #771F01;
}

.light {
    color: #9B8D90;
}

.light-bg {
    color: black;
    background-color: #9B8D90;
}

.dark {
    color: #152F3B;
}

.dark-bg {
    color: white;
    background-color: #152F3B;
}


/* Override bootstrap default fonts with Raleway */

h1 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}