<h1 class="text-center mb-3">Youth Ministry</h1>

<div class="youth-light-show-parallax"></div>

<section id="intro">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <p>Our mission as the youth ministry of FBCJ is to create Bold, Confident, Disciples of Jesus Christ who are prepared to be Servant Leaders in an ever changing world.<br><br> One word to describe our youth ministry here at FBCJ, is family. This is
            the type of atmosphere we desire to create at each of our student worship services, Bible studies, and ministry activities. So come and be our guest - you have a place here!<br><br> Our youth ministry is built around seven foundations that
            we desire each student be firmly grounded in by the time they graduate high school.</p>
        <ol>
            <li><strong>Faith that is Real</strong> - <i>Trusting in God</i></li>
            <li><strong>Spiritual Disciplines</strong> - <i>Digging a Spiritual Foundation</i></li>
            <li><strong>Boundaries in Relationships</strong> - <i>Establishing Biblical Moral Limits</i></li>
            <li><strong>Healthy Friendships</strong> - <i>Choosing the Right Friends</i></li>
            <li><strong>Wise Choices</strong> - <i>Making Wise Decisions</i></li>
            <li><strong>God's Authority</strong> - <i>Finding Freedom in God's Authority</i></li>
            <li><strong>Putting Others First</strong> - <i>Serving Others</i></li>
        </ol>
        <p>If you have any questions about our Youth Ministry or if you need information please e-mail youth@fbcjedburg.org.</p>
    </div>
</section>