.youth-light-show-parallax {
    /* The image used */
    background-image: url("../../../assets/images/youth-light-show.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}