<h1 class="text-center mb-3">Children's Ministry</h1>
<section class="dark-bg text-white" id="checkin">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2> Check-In with KidCheck</h2>
        <p>The safety of your children is important to us and to ensure this we use the KidCheck system. KidCheck allows us to easily identify your kids and the proper guardian who should be picking up your kids. We intend to make this process as painless
            as possible while also ensuring your children are secure and returned safely to you alone. Below is more information to help guide you in the Check-In process, but also feel free to visit <a href="https://www.kidcheck.com/" target="_blank">www.kidcheck.com</a>            directly for more information.</p>

        <h4>Check-In Process</h4>
        <ol>
            <li>Check-In at a KidCheck Kiosk or use the KidCheck mobile application</li>
            <li>If you have multiple children going to different locations, please print an extra Guardian Receipt(s) to ease pickup</li>
            <li>Once you complete Check-In, your tags will be printed at the selected Kiosk</li>
            <li>Attach your child's name tag to them and keep your Guardian Receipt(s)</li>
            <li>Once it is time to pick up, simply provide your Guardian Receipt(s) to the teacher and they will match it to your child's name tag</li>
        </ol>
        <h4>KidCheck Kiosks Locations</h4>
        <ul>
            <li>Side Entrance of Sanctuary</li>
            <li>By Entrance of CLC</li>
        </ul>
        <h4>KidCheck Mobile application</h4>
        <a class="mobile-icon" href="https://itunes.apple.com/us/app/kidcheck/id617474663?mt=8"><img title="KidCheck Children's Check-In Mobile App" src="../../../assets/images/app-store-badge.png" alt="app-store-badge" width="135" height="40"></a>
        <a class="mobile-icon" href="https://play.google.com/store/apps/details?id=com.kidcheck.mobile"><img title="KidCheck Children's Check-In Mobile App" src="../../../assets/images/google-play-badge.png" alt="google-play-badge" width="135" height="40"></a>
    </div>
</section>

<section id="preschool">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2>Preschool Ministry</h2>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <p>At FBC Jedburg we have a growing preschool ministry and we care about the safety of your little ones. Come and grow with us!</p>
                <ul>
                    <li>Nursery Classes - Sunday AM and PM worship services (under 2)</li>
                    <li>Preschool Sunday School (ages 2-3)</li>
                    <li>Kindergarten Sunday School (ages 4-5)</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-round animated fadeIn" src="../../../assets/images/preschool.jpg" />
            </div>
        </div>
    </div>
</section>

<div class="preschool-parallax"></div>

<section class="dark-bg" id="childrensworship">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2>Children's Worship</h2>
        <h4>Children's Church: (age 5 up to 6th Grade)</h4>
        <h4>Sundays @ 11:00am</h4>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid img-round" src="../../../assets/images/childrensworship.jpg" />
            </div>
            <div class="col-md-9 col-sm-12">
                <p>Our Sunday morning children's worship service is all about God...with a kid's twist! Children, grades K-6, learn the foundations of a Christian life as taught through the Bible.<br><br> Development and strengthening of a personal relationship
                    with Jesus Christ is the priority as we strive to build strong, Christ-centered young people!<br><br> Worship is packed with praise, prayer, fellowship, Bible lessons, scripture memorization, and life applications.
                    <br><br> We welcome all students to come and experience the passion of our leaders, the love of Christ, and the excitement of growing in the Lord!<br><br> We hope to see you there!</p>
            </div>
        </div>
    </div>
</section>

<div class="children-parallax"></div>

<section class="trinary-bg" id="teamkid">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2>Team Kid</h2>
        <h4>Sundays at 6:00pm</h4>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <p>We encourage kids to return for the second half of Kid's Worship Sunday evenings as students jump deeper into God's Word and learn how it can be applied to their lives.<br><br> Students also participate in ministry opportunities utilizing
                    music and sign language to share God's message with others!</p>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-round" src="../../../assets/images/teamkid.jpg" />
            </div>
        </div>
    </div>
</section>

<div class="mission-friends-parallax"></div>

<section id="teamkid">
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2>Mission Friends</h2>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid img-round" src="../../../assets/images/mission-friends.jpg" />
            </div>
            <div class="col-md-9 col-sm-12">
                <p>Missions Friends provides the building blocks of faith and the basic awareness of God's love for all people. Mission Friends is designed for ages 3-5 (preschool) and engages these young children in hands on missions and discipleship activities.</p>
            </div>
        </div>
    </div>
</section>