.preschool-parallax {
    /* The image used */
    background-image: url("../../../assets/images/preschool-para.jpg");
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.children-parallax {
    /* The image used */
    background-image: url("../../../assets/images/children-para.jpg");
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.mission-friends-parallax {
    /* The image used */
    background-image: url("../../../assets/images/mission-friends-para.jpg");
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.img-round {
    border-radius: 70%;
}

.mobile-icon {
    padding: 5px;
}