<h1 class="text-center mb-3">Our Beliefs</h1>
<div class="fluid-container">
    <div class="row">
        <img class="img-fluid" src="../../../assets/images/belief.jpg" />
    </div>
    <div class="row px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <ul>
            <li>We believe that Jesus Christ is the son of the most high God and is part of the Trinity; Jesus Christ the son, God the Father and the Holy Spirit. We believe the parts of the Trinity are separate, yet are one.</li>
            <li>We believe that accepting Jesus Christ as Lord and Savior is the only way to enter into heaven.</li>
            <li>We believe the Word of God (the Bible) to be both true and without error.</li>
            <li>We support and follow <a href="http://www.sbc.net/bfm2000/bfm2000.asp" target="_blank"><i>The 2000 Baptist Faith And Message</i></a></li>
        </ul>
    </div>
</div>