section.small-groups {
    background: #E9B100;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.small-groups .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.small-groups hr {
    margin: 1.5rem 0;
}

.small-groups .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.small-groups .card-description {
    font-size: 3rem;
    margin: 0;
}

.small-groups .card-description .period {
    font-size: 0.8rem;
}

.small-groups ul li {
    margin-bottom: 1rem;
}

.small-groups .text-muted {
    opacity: 0.7;
}

.small-groups .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .small-groups .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .small-groups .card:hover .btn {
        opacity: 1;
    }
}

.small-group-img {
    height: 100%;
    width: 100%;
}