<section class="small-groups">
    <img class="small-group-img" src="../../../assets/images/small-groups.jpg" />
    <div class="container py-5">
        <div class="row text-center">
            <h2 class="text-white">Find a class to accompany you on your journey through God's word!</h2>
        </div>
        <div class="row">
            <div *ngFor="let group of groups" class="col-lg-4" id="{{group.name}}">
                <div class="card mt-4 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">{{group.name}}</h5>
                        <h6 class="card-description text-center"><span class="period">{{group.description}}</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-chalkboard-teacher"></i></span>{{group.teacher}}</li>
                            <li><span class="fa-li"><i class="fas fa-church"></i></span>{{group.location}}</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-book"></i></span>{{group.summary || group.description}}</li>
                        </ul>
                        <!-- @TODO: add svg map to show room location <a href="#" class="btn btn-block btn-primary text-uppercase"><i class="fas fa-compass"></i> Locate</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>