.logo {
    height: 60px;
}

a.fbcj-nav-item {
    color: white;
}

a.fbcj-nav-item:focus,
a.fbcj-nav-item:hover {
    color: #771F01;
    background: white;
}

a.fbcj-nav {
    color: #771F01;
}

.navbar-toggler {
    color: #771F01;
}

a.fbcj-nav:focus,
a.fbcj-nav:hover {
    color: #E9B100;
}

.fbcj-nav {
    position: relative;
    text-decoration: none;
}

a.fbcj-nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: #771F01;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.fbcj-nav:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fbcj-nav-menu {
    color: white;
    background-color: #152F3B;
}

.dropdown:hover .dropdown-menu {
    display: block;
}