<nav class="navbar navbar-expand-lg fbcj-navbar">
    <a class="navbar-brand" href="#"><img class="logo" src="../../assets/images/fbcj-logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-align-justify"></i>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle fbcj-nav" href="#" id="aboutUsDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
                <div class="dropdown-menu fbcj-nav-menu" aria-labelledby="aboutUsDropDown">
                    <a class="dropdown-item fbcj-nav-item" href="#" routerLink="/staff">Meet the Staff</a>
                    <a class="dropdown-item fbcj-nav-item" href="#" routerLink="/beliefs">Learn our Beliefs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fbcj-nav" href="#" id="ministryDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ministries
        </a>
                <div class="dropdown-menu fbcj-nav-menu" aria-labelledby="ministryDropDown">
                    <a class="dropdown-item fbcj-nav-item" href="#" routerLink="/children">Children</a>
                    <a class="dropdown-item fbcj-nav-item" href="#" routerLink="/youth">Youth</a>
                    <a class="dropdown-item fbcj-nav-item" href="#" routerLink="/adult">Adult</a>
                </div>
            </li>
            <a class="nav-link fbcj-nav" href="#" routerLink="/worship">Worship</a>
            <a class="nav-link fbcj-nav" href="#" routerLink="/serve">Serve</a>
            <a class="nav-link fbcj-nav" aria-labelledby="give" href="https://pushpay.com/g/fbcjedburg" target="_blank">Give</a>
        </ul>
    </div>
</nav>