.card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: black;
    color: #fff;
    opacity: 0;
    transition: 1s;
}

.card:hover .card-body {
    opacity: 1;
}

.staff {
    background-image: url('../../../assets/images/church-pews.jpg');
}