<h1 class="text-center">Our Staff</h1>
<div class="staff">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 col-lg-4 mt-4" *ngFor='let staff of staffMembers'>
                <div class="card text-center">
                    <div class="card-label">
                        <img class="card-img-top" src="{{staff.image_url}}">
                        <h5 class="card-title">{{staff.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{staff.title}}</h6>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{staff.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{staff.title}}</h6>
                        <p>{{staff.about}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>